<h1>About</h1>

<br/>

<h3>Generate Bitcoin Addresses w/ QR Codes (EmberJS)</h3>
<p>Just a project more for myself to refer back to when working on future Bitcoin projects.<br/>
Generates BTC addresses and their corresponding QR Codes.</p>

<br/><br/>

<h3>DISCLAIMER</h3>
<p>FOR YOUR SAFETY, DO NOT SEND BTC TO ANY ADDRESS YOU GENERATE WITH THIS IMPLEMENTATION</p>